body{
    background-color:#262a2f ;
}
.container{
    max-width: 400px;
   padding: 45px;
}
input{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    padding: 10px;
   border-radius: 5px;
}

.error{
    animation: shake 0.5s ease-in-out;
    animation-iteration-count: 1;
}
@keyframes shake {
    0%, 100% { transform: translateX(0); }
    20%, 60% { transform: translateX(-10px); }
    40%, 80% { transform: translateX(10px); }
  }