body{
    background-color:#262a2f ;
}
.container{
    max-width: 400px;
   padding: 45px;
}
input{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    padding: 10px;
   border-radius: 5px;
}
#imgBox{
    max-width: 200px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
}
#imgBox img{
    
}