body{
    background-color:#262a2f ;
}
.container{
    max-width: 400px;
   padding: 45px;
}
input{
    width: 100%;
    height: 50px;
    border: 1px solid #101246;
    outline: none;
    padding: 10px;
   border-radius: 5px;


}